<ion-header>
  <ion-toolbar>
    <ion-title>courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="location" class="div-main-courses">

    <div>
      <div class="div-sub-main-courses" [ngStyle]="{ backgroundColor: location.color }">
        <span class="div-course-title" [ngStyle]="{ color: location.color }">{{location.title}} </span>
      </div>

      <div class="div-main-right-course">
        <h1>{{location.contain}} </h1>
        <span class="div-course-subcontain">{{location.subContain}}</span>
        <span class="div-course-subcontain">|{{location.subcCoursesHeaderContain}}</span><br>
        <p class="div-course-sub-subcontain">{{location.subCouressContainData}}</p>
        <ion-button class="div-button">Enroll Now</ion-button>
      </div>
    </div>

    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segmentModel">
      <ion-segment-button value="overview">

        <ion-label>Overview</ion-label>
      </ion-segment-button>
      <ion-segment-button value="resourses" layout="icon-start">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Resourses</ion-label>
      </ion-segment-button>

      <ion-segment-button value="discussions" layout="icon-start">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Discussions</ion-label>
      </ion-segment-button>

    </ion-segment>

    <div class="div-main-ion-segment">
      <div *ngFor="let overview of[].constructor(10)">
        <div *ngIf="segmentModel==='overview'">
          <div class="div-overview-main">
            <div class="div-overview-left">
              <span> {{location.tabs.overview.title}} </span>

              <p class="div-course-sub-subcontain">
                {{location.tabs.overview.discription}}
              </p>
              <hr class="div-hr-divider">
            </div>
            <div class="div-overview-right">
              <span> {{location.tabs.overview.righttitle}} </span>

              <p class="div-course-sub-subcontain">
                {{location.tabs.overview.rightDescription}}
              </p>
              <hr class="div-hr-divider">
            </div>

          </div>

        </div>
      </div>

      <div *ngIf="segmentModel==='resourses'">
        <div class="div-resourses-main">


          <div class="div-resourses-main-contain" *ngFor="let resourse of location.tabs.resourses ; let i=index">

            <ion-icon class="resourse-contain-icon " [name]="resourse.icon"></ion-icon>
            <span class="div-resourses-views">{{resourse.discription}}</span>
            <span *ngIf="resourse.subDiscription" class="resourse-new-label">{{resourse.subDiscription}}</span>
            <div class="div-resourses-right">


              <span class="div-resourses-right-label">{{resourse.discriptionRight}}</span>
              <span class="div-resourses-right-label">{{resourse.subDiscriptionRight}}</span>
            </div>
          </div>

        </div>

      </div>
      <div *ngIf="segmentModel==='discussions'">
        <div class="div-discussions-main" *ngFor="let item of[].constructor(10)">
          <span>{{location.tabs.discussions.title}}</span>
          <div class="div-discussion-heading">{{location.tabs.discussions.discussionHeading}}</div>
          <div class="div-discussion-contain">{{location.tabs.discussions.discussionContain}}</div>
          <div class="div-discussion-sub-contain">
            <ion-icon class="div-discussion-icon" [name]="location.tabs.discussions.usericon"></ion-icon>
            <span class="div-discussion-userName">{{location.tabs.discussions.userName}}</span>
            <span class="div-discussion-likedesc">{{location.tabs.discussions.likedesc}}</span>
            <ion-icon class="div-discussion-likeicon" [name]="location.tabs.discussions.likeicon"></ion-icon>
          </div>
          <hr class="div-hr-divider">
        </div>

      </div>


    </div>

  </div>


</ion-content>