.div-main-courses {
    margin: 15px;
    padding: 10px;
    display: inline-block;
}
.div-sub-main-courses {
    background: url("../../assets/image/hand-shake-img.jpg") no-repeat, #f12b2b;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    border-radius: 10px;
    height: 251px;
    width: 331px;
    color: white;
    padding: 24px 14px;
    float: left;
}

.div-course-title {
    color: #e18278;
    padding: 2px 17px;
    background-color: white;
    border-radius: 15px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}

.div-main-right-course {
    margin-left: 355px;
    height: 251px;
}
.div-hr-divider {
    background-color: #d2d6de;
}
.div-main-ion-segment {
    background-color: #fafafa;
    padding: 30px 50px;
}

.div-overview-left {
    float: left;
    width: 50%;
    padding: 0px 30px;
    padding: 0px 15px;
}

.div-course-subcontain {
    color: #a5b1c2;
}
.div-course-sub-subcontain {
    color: #939eaf;
}
.div-overview-main {
    display: inline-block;
    margin: 20px;
}
.div-resourses-main {
    margin-left: 20px;
}
.div-resourses-main-contain {
    padding: 15px;
}
.resourse-contain-icon {
    font-size: 20px;
    color: #939eaf;
    padding-right: 10px;
    vertical-align: middle;
}
.div-resourses-views {
    padding-right: 20px;
    vertical-align: middle;
    font-size: 21px;
}

.resourse-new-label {
    background-color: #f45c60;
    padding: 2px 9px;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    font-weight: 600;
}

.div-resourses-right {
    float: right;
    color: #939eaf;
}
.div-resourses-right-label {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 15px;
}

.div-discussion-heading {
    font-size: 18px;
    color: #627b97;
    font-weight: bold;
    padding-top: 32px;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.div-discussion-contain {
    color: #7a879d;
    font-size: 16px;
    padding-top: 15px;
}
.div-discussion-sub-contain {
    padding-top: 10px;
    font-size: 25px;
}
.div-discussion-icon {
    vertical-align: middle;
    color: lightskyblue;
    font-size: 45px;
}
.div-discussion-userName {
    padding-left: 10px;
    color: #577896;
}
.div-discussion-likeicon {
    float: right;
    font-size: 18px;
    color: #3999ff;
    vertical-align: middle;
}
.div-discussion-likedesc {
    float: right;
    font-size: 15px;
    color: #3999ff;
    padding: 0px 10px;
}
