<div class="div-main-upcoming" [ngStyle]="{ backgroundColor: upcoming.color }">
  <div class="div-submain-upcoming">
    <span class="div-upcoming-title" [ngStyle]="{ color: upcoming.color }">{{upcoming.title}} </span>

    <span class="div-label-with-icon">

      <ion-icon class="div-user-icon " [name]="upcoming.icon1"></ion-icon>
      <span class="div-user-label">{{upcoming.iconLabel1}}</span>

      <ion-icon class="div-user-icon " [name]="upcoming.icon2"></ion-icon>
      <span class="div-user-label">{{upcoming.iconLabel2}}</span>
    </span>
    <h1 class="div-upcoming-contain">{{upcoming.contain}} </h1>
    <span class="div-upcoming-subcontain">{{upcoming.subContain}}</span>
    <div class="div-upcoming-subcontain">{{upcoming.subSubContain}}</div>
  </div>
</div>