
.div-main {
  background-color: #f7f9fb;
  border-radius: 10px;
  margin: 7px;
}

.div-content-left {
  background: url("../../assets/image/hand-shake-img.jpg") no-repeat, #f12b2b;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 11px 15px;
  color: white;
  //display: inline-block;
}

.div-title {
  color: #e18278;
  padding: 0px 18px;
  background-color: white;
  margin-top: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.div-contain {
  margin-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.div-subcontain {
  margin-top: 10px;
}

.div-content-right{
float:right;
}