̦.main {
  // background-color: pink;
  padding-top: 17px;
  width: 100%;
}
.div-main {
  background-color: #f7f9fb;
  border-radius: 10px;
  margin: 7px;
  width: 95%;
}
.div-submain {
  //background-color: green;
  padding-left: 10px;
  margin-left: 20px;
}
.div-contain-main {
  display: flex;
}
.div-contain-left {
  background: url("../../assets/image/hand-shake-img.jpg") no-repeat, #f12b2b;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 11px 15px;
  color: white;
  float: left;
  width: calc(100% - 94px);
}

.div-title {
  color: #e18278;
  padding: 0px 18px;
  background-color: white;
  margin-top: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.div-contain {
  margin-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.div-subcontain {
  margin-top: 10px;
}

.div-contain-right {
  float: right;
}
.contain {
  padding: 8px;
  border-bottom: #edf0f1 1px solid;
  text-align: center;
  width: 94px;
}
.contain-icon {
  font-size: 30px;
  color: gray;

  vertical-align: middle;
}
.contain-label {
  color: blue;
  font-size: 20px;

  vertical-align: middle;
  padding: 10px;
}
.div-sub-contain {
  margin-left: 20px;
  padding-bottom: 15px;
}

.progress-contain {
  margin-top: 30px;
}

.progress-bar {
  width: calc(100% - 70px);
  float: left;
  margin-top: 10px;
}
.progress-bar-contain {
  padding-left: 8px;
}
.div-child-contain {
  color: #8e9db2;
  margin: 0px;
}
.div-sub-child-contain {
  color: #368fff;
  margin-top: 2px;
}
.div-sub-child-subcontain {
  color: #b0b7c6;
}
.div-sub-heading {
  padding-top: 10px;

  color: #abb2c0;
  vertical-align: middle;
}
.div-sub-icon {
  vertical-align: middle;
  font-size: 30px;
}
.div-span-label {
  font-size: 15px;
  vertical-align: middle;
}
.div-button {
  font-size: 14px;
  font-weight: bold;

  text-align: center;
  width: 200px;
}
