<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3>Ongoing Cources (03)</h3>

  <div class="div-main">
    <div class="div-content-left">
      <span  class="div-title">Internet</span>
      <h1 class="div-contain"> Human Computer Interaction</h1>
      <span class="div-subcontain">COURSE</span>
    </div>
    <div class="div-content-right"> 
      <ion-label position="floating" color="warning"  >
        <ion-icon name="person-circle-outline" color="tertiary"></ion-icon>
       64
      </ion-label>
      <ion-label position="floating" color="warning"  >
        <ion-icon name="person-circle-outline" color="tertiary"></ion-icon>
       64
      </ion-label>
    </div>
    <div>
      <h3>How to set DIV in sketch App</h3>
    </div>
  </div>  
</ion-content>
