<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>̦
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="main">
    <div class="div-submain">
      <h3 class="div-child-contain">Ongoing Cources (03)</h3>

      <ion-grid>
        <ion-row>
          <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let course of courses">
            <div class="div-main">
              <div class="div-contain-main">
                <div class="div-contain-left">


                  <span class="div-title">{{course.title}} </span>
                  <h1 class="div-contain">{{course.contain}} </h1>
                  <span class="div-subcontain">{{course.subContain}}</span>
                </div>
                <div class="div-contain-right">
                  <div class="contain">

                    <ion-icon class="contain-icon " [name]="course.icon1"></ion-icon>
                    <span class="contain-label">{{course.iconLabel1}}</span>
                  </div>
                  <div class="contain">
                    <ion-icon class="contain-icon " [name]="course.icon2"></ion-icon>
                    <span class="contain-label">{{course.iconLabel2}}</span>
                  </div>

                  <div class="contain">

                    <ion-icon class="contain-icon " [name]="course.icon3"></ion-icon>
                    <span class="contain-label">{{course.iconLabel3}}</span>
                  </div>

                  <div class="contain">
                    <ion-icon class="contain-icon " [name]="course.icon4"></ion-icon>
                    <span class="contain-label">{{course.iconLabel4}}</span>
                  </div>

                </div>
              </div>
              <div class="div-sub-contain">
                <div class="progress-contain" *ngIf="course.progressBar">
                  <ion-progress-bar class="progress-bar" color="secondary" [value]="course.progressBar">
                  </ion-progress-bar>
                  <span class="progress-bar-contain">{{course.progressBarLabel}}</span>
                </div>

                <h4 class="div-child-contain">{{course.childContain}}</h4>
                <h3 class="div-sub-child-contain"> {{course.subcChildContain}}</h3>
                <p class="div-sub-child-subcontain"> {{course.subTitle}}</p>
                <span class="div-sub-child-subcontain">{{course.subChildSubContain}}</span>
                <div class="div-sub-heading">

                  <ion-icon class="div-sub-icon" [name]="course.subHeadingIcon"></ion-icon>
                  <span class="div-span-label">{{course.subHeadingIconLabel}}</span>
                </div>

                <ion-button class="div-button">{{course.button}}</ion-button>
              </div>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>