̦.main {
  // background-color: pink;
  padding-top: 17px;
  width: 100%;
}
.div-submain {
  //background-color: green;
  padding-left: 10px;
  margin-left: 20px;
}
.div-child-contain {
  color: #8e9db2;
  margin: 0px;
}

.div-header {
  color: #6a7891;
  font-size: 20px;
  margin: 5px;
  margin-left: 20px;
  //padding-right: 10px;
  vertical-align: middle;
}

.div-user-profile {
  width: 29px;
  border-radius: 20px;
  vertical-align: middle;
  object-fit: cover;
}
.div-user-profile-label {
  color: #6a7891;
  padding-left: 12px;
}
.div-user-profile-arrow-icon {
  color: #6a7891;
  vertical-align: middle;
  font-size: 12px;
  padding-left: 12px;
}
.div-right-sidenav-main {
  background-color: #f7f9fb;
  padding: 10px;
}
.div-icon-main {
  margin-top: 25px;
  font-size: 25px;
  //margin-left: 7px;
}
.div-icon-main > ion-icon {
  margin-right: 10px;
}
.div-ribbon-icon {
  color: #f0512e; //#b24539
}
.div-trophy-icon {
  color: #b24539;
}
.div-usd-logo-icon {
  color: #47c5ff;
}
.div-label-main {
  color: #8e9db2;

  //margin-top: 5px;
}
.div-label {
  margin: 15px 7px;

  padding-bottom: 5px;
}
.div-hr-divider {
  background-color: #d2d6de;
}
.div-clipboard-icon {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
.div-small-progress-bar {
  // ion-progress-bar {

  --ion-color-base-rgb: rgb(225, 228, 234);
  // --buffer-background: red;
  --progress-background: rgb(88, 214, 141);
  //}
  //color: green;
  margin-top: 5px;
}
